body{
    font-family: 'UnifrakturMaguntia', cursive;
}

main{
    height: 100vh;
    background-color: black;
}

.wall{
    position: relative;
}

.row .brick{
    height: 100px;
    background-color: lightgrey;
    border: 3px ridge black;

    text-align: center;
    line-height: 94px;
    font-size: 60px;
    font-weight: bold;
}

.row{
    background-color: transparent;
    /* test */
}

.door{
    width: 100%;
    position: absolute;
    top: 100px;
    
    z-index: 1;
}

.door:active .door-left{
    animation: open-left linear 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.door:active .door-right{
    animation: open-right linear 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.row div.secret{
    height: 300px;
    position: absolute;
    top: 200px;
}

.secret img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@keyframes open-left {
    0%{
        transform: translate(0);
    }

    25%{
        transform: translateX(-50px);
    }

    50%{
        transform: translateX(-100px);
    }

    100%{
        transform: translateX(-200px);
    }
}

@keyframes open-right {
    0%{
        transform: translate(0);
    }

    25%{
        transform: translateX(50px);
    }

    50%{
        transform: translateX(100px);
    }

    100%{
        transform: translateX(200px);
    }
}